ul:hover {
  background-color: hsla(224, 94%, 49%, 0.554);
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.img-1 {
  width: 80px;
  margin-left: 10px;
  border-radius: 50px;
}
.fa-solid:hover {
  cursor: pointer;
  background-color: blueviolet;
  padding: 10px;
}
